---
import "/src/styles/_reset.css";
import "/src/styles/_resume.scss";
import "/src/styles/_resume-print.scss";

// Page info
const info = {
  title: "Events Specialist Résumé",
  description: "Sam Feldstein's résumé.",
};

// Import resume sections
import {
  workHistory,
  projects,
  publications,
  volunteer,
  education,
} from "../../data/resume.js";

// Define relevant items
const relevantJobs = [
  "devFreelance",
  "journalistSentinel",
  "managerSentinel",
  "fundraiserLear",
  "TAChapman",
];
const relevantProjects = ["regreen", "postoley", "prairieRose"];
const relevantVolunteer = [
  "communityHealthAndEquine",
  "workaway",
  "animalRescueLeague",
];

const skills = [
  {
    category: "Creative & Technical",
    items: [
      "Microsoft Office and Google Suite",
      "Web content creation and publishing",
      "Web Design and Development",
      "Photography",
    ],
  },
  {
    category: "Nonprofits & Communication",
    items: [
      "Fundraising and donor relations",
      "Empathy and diplomacy",
      "Professional writing",
    ],
  },
];

// Convert selected keys into an array of job objects
const selectedWork = relevantJobs.map((key) => workHistory[key]);
const selectedProjects = relevantProjects.map((key) => projects[key]);
const selectedVolunteer = relevantVolunteer.map((key) => volunteer[key]);
---

<!doctype html>
<html lang="en" prefix="og:https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Icons
      - Guide: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
      - Favicon generator: https://favicon.io
      - Another favicon generator: https://realfavicongenerator.net/
      - SVG generator: https://formito.com/tools/favicon
      - Image compressor: https://squoosh.app/
      - SVG optimizer: https://jakearchibald.github.io/svgomg/
      - Favicon checker: https://realfavicongenerator.net/favicon_checker  
    -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=3" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon-96x96.png?v=3"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=3"
    />
    <meta name="apple-mobile-web-app-title" content="Sam Feldstein" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Preload assets -->
    <link
      rel="preload"
      href="/fonts/subset-Lato-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/subset-Lato-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/subset-Lato-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Sam Feldstein" />

    <title>{info.title} | Sam Feldstein</title>
    <meta property="og:title" content={info.title} />
    <meta name="twitter:title" content={info.title} />

    <meta name="description" content={info.description} />
    <meta
      property="og:description"
      content="description"
      content={info.description}
    />
    <meta
      name="twitter:description"
      content="description"
      content={info.description}
    />

    <meta property="og:type" content={"website"} />
    <meta property="og:url" content={Astro.url.href} />
    <meta
      property="og:image"
      content="https://samfeldstein.xyz/images/sam-feldstein-open-graph-default.webp"
    />
    <meta
      name="twitter:image"
      content="https://samfeldstein.xyz/images/sam-feldstein-open-graph-default.webp"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <a class="skiplink" href="#main-content">Skip to Content</a>
    <div class="page-container">
      <header>
        <address class="print">
          <span>Boulder, CO</span>
          <a href="mailto:sam@samfeldstein.xyz">sam@samfeldstein.xyz</a>
        </address>
        <a
          class="download-link"
          href="/sam-feldstein-job-readiness-coach-resume.pdf"
          target="_blank">Download PDF</a
        >
        <h1>
          <div class="name">Sam<br /> Feldstein</div>
          <div class="role">Events<br /> Specialist</div>
        </h1>
        <address class="web">
          <span class="location">Boulder, CO</span>
          <a href="/">Website</a>
          <a href="mailto:sam@samfeldstein.xyz">sam@samfeldstein.xyz</a>
        </address>

        <nav>
          <!-- Split into columns -->
          <div>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#experience">Experience</a>
          </div>

          <div>
            <a href="#volunteer">Volunteer</a>
            <a href="#publications">Publications</a>
            <a href="#projects">Projects</a>
          </div>
        </nav>
      </header>
      <main id="main-content">
        <section id="education">
          <h2 class="education">Education</h2>
          <div class="education">
            {
              education.map((entry) => (
                <article>
                  <h3>{entry.degree}</h3>
                  <div class="time">
                    {entry.school} | {entry.city} | <time>{entry.date}</time>
                  </div>
                </article>
              ))
            }
          </div>
        </section>

        <section id="skills">
          <h2>Skills</h2>
          <div class="skills">
            {
              skills.map(({ category, items }) => (
                <section>
                  <h3>{category}</h3>
                  <ul>
                    {items.map((skill) => (
                      <li>{skill}</li>
                    ))}
                  </ul>
                </section>
              ))
            }
          </div>
        </section>

        <section id="experience">
          <h2>Experience</h2>
          <div class="experience">
            {
              selectedWork.map((job) => (
                <article>
                  <h3>
                    {job.role} {job.employer && `@ ${job.employer}`}
                  </h3>
                  <div class="time">
                    <time>{job.date}</time> | {job.place}
                  </div>
                  <ul>
                    {job.description.map((point) => (
                      <li set:html={point} />
                    ))}
                  </ul>
                </article>
              ))
            }
          </div>
        </section>

        <section id="volunteer" class="break">
          <h2>Volunteer</h2>
          <div class="volunteer">
            {
              selectedVolunteer.map((entry) => (
                <article>
                  <h3>
                    {entry.role} {entry.employer && `@ ${entry.employer}`}
                  </h3>
                  <div class="time">
                    <time>{entry.date}</time>{" "}
                    {entry.place && `| ${entry.place}`}
                  </div>
                  <ul>
                    {entry.description.map((point) => (
                      <li set:html={point} />
                    ))}
                  </ul>
                </article>
              ))
            }
          </div>
        </section>

        <section id="publications">
          <h2>Publications</h2>
          <ul class="publications">
            {
              publications.map((pub) => (
                <li>
                  <cite class="publication h3">{pub.title}</cite>
                  <div class="info">
                    {pub.medium} | <cite>{pub.outlet}</cite> |{" "}
                    <time>{pub.date}</time>
                  </div>
                </li>
              ))
            }
          </ul>
        </section>

        <section id="projects" class="projects">
          <h2>Projects</h2>
          <div class="projects">
            {
              selectedProjects.map((project) => (
                <article>
                  <h3>{project.title}</h3>
                  <div class="time">
                    <span>{project.type}</span> | <time>{project.date}</time>
                  </div>
                  <ul>
                    {project.description.map((point) => (
                      <li set:html={point} />
                    ))}
                  </ul>
                </article>
              ))
            }
          </div>
        </section>
      </main>
    </div>
  </body>
</html>

<style>
  nav {
    margin-top: 6rem;
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    line-height: 0.6;
  }

  @media print {
    body {
      font-size: 11.65px;
    }
  }
</style>
