---
// Notes must be in the content folder for this to work

import MobileMenu from "../../components/MobileMenu.astro";
import Skiplink from "../../components/Skiplink.astro";
import Head from "../../components/Head.astro";
import Tags from "../../components/Tags.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import Date from "../../components/Date.astro";

import "../../styles/_post.scss";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  // Filter drafts when building for production
  const posts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<!doctype html>
<html lang="en-us">
  <Head title={post.data.title} description={post.data.description} />
  <body>
    <Skiplink />
    <MobileMenu />
    <header class="page-header">
      
      <h1 set:html={post.data.title} />
      {
        post.data.description && (
          <p class="description" set:html={post.data.description} />
        )
      }
      {(<Tags tags={post.data.tags} path="blog" />)}
    </header>
    <main id="main-content">
      <article>
        <Content />
      </article>
      <div class="signoff">
        <div>{post.data.location}</div>
        <Date date={post.data.pubDate} />
      </div>
    </main>
    <SiteFooter />
  </body>
</html>
