---
// Components
import MobileMenu from "../../components/MobileMenu.astro";
import Skiplink from "../../components/Skiplink.astro";
import Head from "../../components/Head.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import Date from "../../components/Date.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("cyber");
  return entries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<!doctype html>
<html lang="en-us">
  <Head title={entry.data.title} />
  <body>
    <Skiplink />
    <MobileMenu />
    <header class="page-header">
      <h1 set:html={entry.data.title} />
      {
        entry.data.assignment && (
          <p class="description" set:html={entry.data.assignment.description} />
        )
      }
      <p>
        Completed on <Date date={entry.data.pubDate} />. You can find the complete
        assignment on <a href={entry.data.assignment.url}
          >{entry.data.assignment.site}</a
        >.
      </p>
    </header>
    <main id="main-content">
      <article>
        <Content />
      </article>
    </main>
    <SiteFooter />
  </body>
</html>
