---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import Post from "../../components/Post.astro";

// Utils
import { sortPostsByDate } from "../../scripts/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const title = `#${tag}`;

sortPostsByDate(posts);
---

<Base title={title}>
  <header aria-label="Page Header">
    <h1>{title}</h1>
  </header>
  <ul>
    {
      posts.map((post) => (
        <li>
          <Post url={`/blog/${post.slug}/`} title={post.data.title} />
        </li>
      ))
    }
  </ul>
</Base>

<style>
  ul {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
