---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

// Styles
import "/src/styles/default.scss";

// Utils
import { sortCollectionByDate } from "../../scripts/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const title = `#${tag}`;

sortCollectionByDate(posts);
---

<BaseLayout title={title}>
  <header aria-label="Page Header">
    <h1>{title}</h1>
  </header>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
