---
// Layout
import BaseLayout from "../../layouts/BaseLayout.astro";

// Components
import SiteLogo from "../../components/SiteLogo.astro";
import MenuMain from "../../components/MenuMain.astro";
import MainContent from "../../components/MainContent.astro";

// Styles
import "/src/styles/default-page.scss";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../../scripts/utils";

// Functions
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// Variables
const { tag } = Astro.params;
const { posts } = Astro.props;
const title = `#${tag}`;

// Calls
sortCollectionByDate(posts);
---

<BaseLayout title={title}>
  <header id="header-main">
    <SiteLogo />
    <MenuMain />
  </header>
  <MainContent>
  <header class="header-page" aria-label="Page Header">
    <h1>{title}</h1>
  </header>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</MainContent>
</BaseLayout>
