---
import BaseLayout from "../layouts/BaseLayout.astro";
import Date from "../components/Date.astro";
import Tags from "../components/Tags.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";
import { filterDrafts } from "../scripts/utils.ts";

const posts = await getCollection("blog", filterDrafts);
sortCollectionByDate(posts);

// Data
const schema = {
  "@context": "https://schema.org",
  "@type": "Blog",
  name: "Blog | Sam Feldstein",
  url: "https://samfeldstein.xyz/blog/",
  image:
    "https://samfeldstein.xyz/images/sam-feldstein-open-graph-default.webp",
  author: {
    "@type": "Person",
    name: "Sam Feldstein",
    url: "https://samfeldstein.xyz",
  },
};
---

<BaseLayout title="Blog" schema={schema}>
  <h1>Blog</h1>
  <p>
    <a href="/blog/tags/">Browse by category</a>. Subscribe via <a
      href="https://samfeldstein.xyz/feed.xml">RSS</a
    >. If you prefer to subscribe by email, you can use <a
      href="https://blogtrottr.com">Blogtrottr</a
    > to route the feed to your inbox.
  </p>

  <ul class="collection-list unstyled-list">
    {
      posts.map((post) => (
        <li class="flex-column">
          <Date date={post.data.pubDate} />
          <a
            href={`/blog/${post.id}/`}
            class="title collection-item-title"
          >
            {post.data.title}
          </a>
          <Tags tags={post.data.tags} path="blog" />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  a.title {
    font-size: calc(1.5rem + 0.5vw);
    text-wrap: balance;
    margin: 0.5em 0;
    font-variant: small-caps;
  }

  li {
    border: 1px solid;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
  }
</style>

<style is:global>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
  }

  time {
    font-size: calc(.9rem + .25vw);
  }
</style>
