---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Tags from "../components/Tags.astro";
import Date from "../components/Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";
import { filterDrafts } from "../scripts/utils.ts";

// Styles
import "/src/styles/_index.css";

const posts = await getCollection("blog", filterDrafts);

sortCollectionByDate(posts);

// Images
import latestPhoto from "/src/images/gallery/matt-heckler-9.jpg";
import latestSite from "/src/images/danceophile-screenshot.jpg";

// Data
import { site } from "../../config.mjs";

const schema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Sam Feldstein",
  url: "https://samfeldstein.xyz/",
  description: site.description,
  image: "https://samfeldstein.xyz/images/sam-feldstein-open-graph-image.png",
};
---

<BaseLayout ogTitle="Sam Feldstein's Personal Website" schema={schema}>
  <h1 class="visually-hidden">Sam Feldstein's Personal Website</h1>

  <section id="intro">
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I like <a
        href="/writing/">writing</a
      >, <a href="https://notebook.samfeldstein.xyz/">taking notes</a>, <a
        href="/photos/">making photos</a
      >, and <a href="/websites/">building websites</a>.
    </p>

    <p>
      I don't have a particular objective for this website, but I've learned a
      lot from <a href="/blogroll/">people writing on the internet</a> and I like
      the idea of paying it forward.
    </p>
  </section>

  <section id="photography">
    <h2>Latest Photo</h2>
    <figure class="photo">
      <Image
        class="latest-photo"
        src={latestPhoto}
        widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
        sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
        alt="Matt Heckler playing at the Skylark Lounge."
      />
      <figcaption>Matt Heckler at the Skylark Lounge.</figcaption>
    </figure>
    <p class="text-right">
      <a href="/photos/">See all photos >>></a>
    </p>
  </section>

  <section id="latest-website">
    <h2>Latest Website</h2>
    <p>Built with Astro.</p>
    <a class="image" href="https://danceophile.com">
      <Image
        src={latestSite}
        widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
        sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
        alt="A screenshot of the homepage of the Danceophile Studio website."
      />
    </a>
    <p class="text-right"><a href="/websites/">See all websites >>></a></p>
  </section>

  <section id="latest-posts">
    <h2>Latest Posts</h2>

    <ul class="latest-posts">
      {
        posts.slice(0, 3).map((post) => (
          <li class="latest-posts">
            <Date date={post.data.pubDate} />
            <a href={`/blog/${post.id}/`} class="latest-posts title">
              {post.data.title}
            </a>
            <Tags tags={post.data.tags} path="blog" />
          </li>
        ))
      }
    </ul>

    <p class="more">
      <a href="/blog/">See all posts >>></a>
    </p>
  </section>
</BaseLayout>
