---
import Base from "../layouts/Base.astro";
import PageSpeed from "../components/PageSpeed.astro";

// Styles
import "/src/styles/_index.scss";

// Data
import { site } from "../../config.mjs";

// Utils
import { getCurrentYear } from "../scripts/utils";

const year = getCurrentYear();

// Preloads
const fonts = [
  "subset-BebasNeue-Regular",
  "subset-CMUBright-Roman",
  "subset-CMUBright-SemiBold",
];
---

<Base
  title="Home"
  description={site.description}
  ogTitle="Sam Feldstein's Personal Website"
  ogType="website"
  preloadFonts={fonts}
>
  <div class="border top"></div>
  <header>
    <h1>
      <div id="title">
        <div>Ever in</div><div>Flux</div>
      </div>
      <div id="byline">the personal website of</div>
      <div id="name"><div>Samuel</div><div>Feldstein</div></div>
    </h1>
  </header>

  <main id="main-content" class="page">
    <h2>Contents</h2>
    <nav>
      <div id="code">
        <h3>Code</h3>
        <ul>
          <li><a href="/dev-work/">Work</a></li>
          <li><a href="/dev-projects/">Projects</a></li>
          <li><a href="/resumes/frontend-developer/">Résumé</a></li>
        </ul>
      </div>
      <div id="words">
        <h3>Words</h3>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/published-writing">Published Work</a></li>
          <li><a href="/feed.xml">Feed</a></li>
        </ul>
      </div>

      <div id="else">
        <h3>Else</h3>
        <ul>
          <li><a href="/about/">About the Author</a></li>
          <li><a href="/uses/">Uses</a></li>
          <li><a href="/photos/">Gallery</a></li>
          <li><a href="/colophon/">Colophon</a></li>
        </ul>
      </div>
    </nav>

    <section id="other-sites">
      <h2>Other Sites</h2>
      <ul>
        <li><a href="https://notes.samfeldstein.xyz/">Notebook</a></li>
        <li><a href="https://cookbook.samfeldstein.xyz/">Cookbook</a></li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact & Social</h2>
      <ul class="contact">
        <li><a href="mailto:sam@samfeldstein.xyz">Email</a></li>
        <li><a href="https://github.com/samfeldstein">GitHub</a></li>
      </ul>
    </section>
  </main>

  <footer>
    <PageSpeed />
    <div class="location-etc">
      <div>{site.location.city}, {site.location.state}</div>
      <div>Powered by <a href="https://astro.build">Astro</a></div>
      <div class="copyright">&copy; 2022 – {year} Samuel Feldstein</div>
    </div>
  </footer>
  <div class="border bottom"></div>
</Base>
