---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Tags from "../components/Tags.astro";
import Date from "../components/Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";
import { filterDrafts } from "../scripts/utils.ts";

const posts = await getCollection("blog", filterDrafts);

sortCollectionByDate(posts);

// Images
import latestPhoto from "/src/images/gallery/matt-heckler-9.jpg";

// Data
import { site } from "../../config.mjs";

const schema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Sam Feldstein",
  url: "https://samfeldstein.xyz/",
  description: site.description,
  image: "https://samfeldstein.xyz/images/sam-feldstein-open-graph-image.png",
};
---

<BaseLayout ogTitle="Sam Feldstein's Personal Website" schema={schema}>
  <h1 class="visually-hidden">Sam Feldstein's Personal Website</h1>

  <section id="intro">
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I like <a
        href="https://notebook.samfeldstein.xyz/">taking notes</a
      >, <a href="/photos/">making photos</a>, and <a href="/websites/"
        >building websites</a
      >. I also write the occasional <a href="/blog/">blog post</a>.
    </p>

    <p>
      I don't have a particular objective for this website, but I've learned a
      lot from <a href="/blogroll/">people writing on the internet</a> and I like
      the idea of paying it forward.
    </p>

    <p>
      So come on in. Have a look around. Make yourself at home. And if you find
      anything useful, <a href="mailto:samuelfeldstein@proton.me">let me know</a
      >. I'd love to hear about it.
    </p>
  </section>

  <section id="photography">
    <h2>Latest Photo: Matt Heckler at the Skylark Lounge</h2>
    <Image
      class="latest-photo"
      src={latestPhoto}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="Matt Heckler playing at the Skylark Lounge."
    />
    <p class="text-right">
      <a href="/photos/">See all photos >>></a>
    </p>
  </section>

  <section id="latest-posts">
    <h2>Latest Posts</h2>

    <ul class="latest-posts">
      {
        posts.slice(0, 3).map((post) => (
          <li class="latest-posts">
            <Date date={post.data.pubDate} />
            <a href={`/blog/${post.id}/`} class="latest-posts title">
              {post.data.title}
            </a>
            <Tags tags={post.data.tags} path="blog" />
          </li>
        ))
      }
    </ul>

    <p class="more">
      <a href="/blog/">See all posts >>></a>
    </p>
  </section>
</BaseLayout>

<style>
  p:first-child {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .latest-photo {
    border-radius: 2px;
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }

  ul.latest-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  li.latest-posts {
    border: 1px solid;
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  a.title {
    font-variant: small-caps;
    font-size: 2rem;
    text-decoration: none;
  }

  a.title:hover,
  a.title:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
  }

  p.more {
    text-align: right;
  }
</style>

<style is:global>
  ul.tags {
    display: flex;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
