---
import Base from "../layouts/Base.astro";
import PageSpeed from "../components/PageSpeed.astro";
import QuoteGenerator from "../components/QuoteGenerator.astro";
import RSS from "../components/RssIcon.astro";
import Github from "../components/GithubIcon.astro";
import Email from "../components/EmailIcon.astro";
import ExternalLinkIcon from "../components/ExternalLinkIcon.astro";

// Styles
import "/src/styles/_index.scss";

// Data
import { site } from "../../config.mjs";

// Utils
import { getCurrentYear } from "../scripts/utils";

const year = getCurrentYear();

// Fonts
const preloadFonts = ["oswald"];
---

<Base
  title="Home"
  description={site.description}
  ogTitle="Sam Feldstein's Personal Website"
  ogType="website"
  preloadFonts={preloadFonts}
>
  <div class="border top"></div>
  <header>
    <h1>
      <div class="title">Ever in<br />Flux</div>
      <div class="byline">the personal website of</div>
      <div class="name">Samuel<br />Feldstein</div>
    </h1>
  </header>

  <main id="main-content" class="page">
    <section class="contents">
      <h2 id="contents">Contents</h2>
      <nav>
        <div id="code">
          <h3>Code</h3>
          <ul>
            <li><a href="/dev-work/">Work</a></li>
            <li><a href="/dev-projects/">Projects</a></li>
            <li><a href="/resumes/frontend-developer/">Resume</a></li>
          </ul>
        </div>
        <div id="words">
          <h3>Words</h3>
          <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/published-writing">Published Work</a></li>
            <li>
              <a href="/feed.xml">Feed<RSS class="inline" /></a>
            </li>
          </ul>
        </div>

        <div id="else">
          <h3>Else</h3>
          <ul>
            <li><a href="/about/">About the Author</a></li>
            <li><a href="/uses/">Uses</a></li>
            <li><a href="/photos/">Gallery</a></li>
            <li><a href="/colophon/">Colophon</a></li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="other">
      <h2 id="other-sites">Other Sites</h2>
      <ul>
        <li>
          <a href="https://notes.samfeldstein.xyz/"
            >Notebook<ExternalLinkIcon class="inline" /></a>
        </li>
        <li>
          <a href="https://cookbook.samfeldstein.xyz/"
            >Cookbook<ExternalLinkIcon class="inline" /></a>
        </li>
      </ul>
    </section>

    <section class="other">
      <h2 id="contact">Contact & Social</h2>
      <ul class="contact">
        <li>
          <a href="mailto:sam@samfeldstein.xyz"
            >Email<Email class="inline" /></a>
        </li>
        <li>
          <a href="https://github.com/samfeldstein"
            >GitHub<Github class="inline" /></a
          >
        </li>
      </ul>
    </section>
  </main>

  <footer>
    <QuoteGenerator />
    <nav>
      <ul class="toc">
        <li><a href="#contents">Contents</a></li>
        <li><a href="#other-sites">Other Sites</a></li>
        <li><a href="#contact">Contact & Social</a></li>
      </ul>
    </nav>
    <PageSpeed />
    <div class="etc">
      <div>{site.location.city}, {site.location.state}</div>
      <div>Powered by <a href="https://astro.build">Astro</a></div>
      <div class="copyright">&copy; 2022 – {year} Samuel Feldstein</div>
    </div>
  </footer>
  <div class="border bottom"></div>
</Base>
