---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Tags from "../components/Tags.astro";
import Date from "../components/Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";
import { filterDrafts } from "../scripts/utils.ts";

const posts = await getCollection("blog", filterDrafts);

sortCollectionByDate(posts);

// Images
import danceophile from "/src/images/danceophile-screenshot.jpg";
import latestPhoto from "/src/images/gallery/matt-heckler-9.jpg";

// Data
import { site } from "../../config.mjs";

const schema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Sam Feldstein",
  url: "https://samfeldstein.xyz/",
  description: site.description,
  image: "https://samfeldstein.xyz/images/sam-feldstein-open-graph-image.png",
};
---

<BaseLayout ogTitle="Sam Feldstein's Personal Website" schema={schema}>
  <h1 class="visually-hidden">Sam Feldstein's Personal Website</h1>

  <section id="intro">
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I'm a web developer, writer,
      and photographer currently based in Boulder, CO. I won't tell you where I'm
      from originally, but I'll give you a hint: It's not Idaho or Ohio. I've also
      lived in Iowa City, Southern California, Far West Texas, and I spent a summer
      in New Orleans once.
    </p>

    <p>
      I've been building websites since 2023, and I'm officially trying to
      establish a clientele. I like building sites for individuals, small
      businesses, and nonprofits. If you need a developer in your life and that
      sounds like a good fit, have a look at my <a href="/websites/"
        >portfolio</a
      >, then kindly <a href="mailto:samuelfeldstein@proton.me">hire me</a>.
    </p>
  </section>

  <section id="web-development">
    <h2>Latest Website: Danceophile Studio (in progress)</h2>
    <p>A website for an independent folk dance studio. Built with Astro.</p>
    <a class="image" href="https://danceophile.netlify.app/">
      <Image
        src={danceophile}
        widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
        sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
        alt="A screenshot of the Danceophile Studio homepage."
        fetchpriority="high"
        loading="eager"
      />
    </a>
    <p class="text-right">
      <a href="/websites/">See all websites >>></a>
    </p>
  </section>

  <section id="photography">
    <h2>Latest Photo: Matt Heckler at the Skylark Lounge</h2>
    <Image
      class="latest-photo"
      src={latestPhoto}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="Matt Heckler playing at the Skylark Lounge."
    />
    <p class="text-right">
      <a href="/photos/">See all photos >>></a>
    </p>
  </section>

  <section id="latest-posts">
    <h2>Latest Posts</h2>

    <ul class="latest-posts">
      {
        posts.slice(0, 3).map((post) => (
          <li class="latest-posts">
            <Date date={post.data.pubDate} />
            <a href={`/blog/${post.id}/`} class="latest-posts title">
              {post.data.title}
            </a>
            <Tags tags={post.data.tags} path="blog" />
          </li>
        ))
      }
    </ul>

    <p class="more">
      <a href="/blog/">See all posts >>></a>
    </p>
  </section>
</BaseLayout>

<style>
  p:first-child {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .latest-photo {
    border-radius: 2px;
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }

  ul.latest-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  li.latest-posts {
    border: 1px solid;
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  a.title {
    font-variant: small-caps;
    font-size: 2rem;
    text-decoration: none;
  }

  a.title:hover,
  a.title:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
  }

  p.more {
    text-align: right;
  }
</style>
