---
import Base from "@/layouts/Base.astro";
import { writing } from "../data/published-writing.js";
import "@/styles/_published-writing.scss";

const preloadFonts = ["oswald", "noto-serif"];
---

<Base
  title="Published Writing"
  description="My publish writing, including short stories, news articles, and roleplaying adventures."
  preloadFonts={preloadFonts}
>
  <header>
    <nav class="main">
      <a class="home" href="/">Home</a>
    </nav>
    <h1>Published Writing</h1>
  </header>
  <main id="main-content">
    <ul class="portfolio">
      {
        writing.map((item) => (
          <li>
            <a class="entry" href={item.url}>
              <div class="info">
                <span class="type">{item.type}</span>
                <span>&nbsp;|&nbsp;</span>
                <span class="date-outlet">
                  <cite class="outlet">{item.outlet}</cite>
                  <span>&nbsp;|&nbsp;</span>
                  <span>{item.date}</span>
                </span>
              </div>
              <div
                class="title"
                set:html={item.title.replace(/'(.*?)'/, "<em>$1</em>")}
              />
              {/* <div class="read">Read</div> */}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
