---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import pairings from "/src/images/pairings-screenshot.jpg";
import prairieRose from "/src/images/prairie-rose-arena-screenshot.jpg";
import personalSite from "/src/images/personal-site-screenshot.jpg";
import notebook from "/src/images/notebook-homepage-screenshot.jpg";
import personalSiteHugo from "/src/images/personal-website-hugo-screenshot.jpg";
import firstWebsite from "/src/images/first-website-screenshot.jpg";
import danceophile from "/src/images/danceophile-screenshot.jpg";

const schema = {
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  name: "Websites I've Built | Sam Feldstein",
  url: "https://samfeldstein.xyz/websites/",
  description:
    "My portfolio of custom websites built for small businesses, creatives, and freelancers. I specialize in fast, accessible sites built with modern web technologies.",
  image: "https://samfeldstein.xyz/images/prairie-rose-arena-screenshot.jpg",
};
---

<BaseLayout
  title="Webdev Portfolio"
  description="My portfolio of custom websites built for small businesses, creatives, and freelancers. I specialize in fast, accessible sites built with modern web technologies."
  schema={schema}
>
  <h1>Websites I've Built</h1>
  <h2>Danceophile Studio</h2>
  <p>Built with Astro.</p>
  <a class="image" href="https://danceophile.com">
    <Image
      src={danceophile}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the homepage of the Danceophile Studio website."
    />
  </a>

  <h2>My Digital Notebook</h2>
  <p>Built with Eleventy.</p>
  <a class="image" href="https://notebook.samfeldstein.xyz/">
    <Image
      src={notebook}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the homepage of my personal notebook."
    />
  </a>
  <div class="notes source">
    <a
      href="https://notebook.samfeldstein.xyz/notes/digital-notebook-project-notes/"
      >Notes</a
    >
    <a href="https://github.com/sameldstein/notebook">Source</a>
  </div>

  <h2>Pairings</h2>
  <p>
    An app that generates pairings from any two lists. My first
    JavaScript-driven project.
  </p>
  <a class="image" href="https://pairingapp.netlify.app">
    <Image
      src={pairings}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the Pairings webapp homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/pairings-notes">Notes</a>
    <a href="https://github.com/samfeldstein/pairings">Source</a>
  </div>

  <h2>Prairie Rose Arena</h2>
  <p>A website for an equestrian event center. Built with Eleventy.</p>
  <a class="image" href="https://prairierosearena.com/">
    <Image
      src={prairieRose}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the Prairie Rose Arena website homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/prairie-rose-arena-notes"
      >Notes</a
    >
  </div>

  <h2>Personal Site (current version)</h2>
  <p>The website you are currently on. Built with Astro.</p>
  <a class="image" href="/">
    <Image
      src={personalSite}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the homepage of Sam Feldstein's personal website."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/personal-site-notes"
      >Notes</a
    >
    <a href="https://github.com/samfeldstein/personal-site-astro">Source</a>
  </div>

  <h2>Personal Site (Hugo, archived)</h2>
  <p>An archived version of my personal site. Built with Hugo.</p>
  <a class="image" href="https://samfeldstein.github.io/personal-site-hugo/">
    <Image
      src={personalSiteHugo}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the homepage of an archived version of Sam Feldstein's personal website."
    />
  </a>
  <div class="notes source">
    <a href="https://github.com/samfeldstein/personal-site-hugo">Source</a>
  </div>

  <h2>My First Website</h2>
  <p>
    The first version of my personal site. Built by hand. No generators, no
    nothin.
  </p>
  <a class="image" href="https://samfeldstein.github.io/first-website/">
    <Image
      src={firstWebsite}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the homepage of the first website I ever built."
    />
  </a>
  <div class="notes source">
    <a href="https://github.com/samfeldstein/first-website">Source</a>
  </div>
</BaseLayout>

<style>
  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }
</style>
