---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";

import pairings from "/src/images/pairings-screenshot.jpg";
import prairieRose from "/src/images/prairie-rose-arena-screenshot.jpg";
import personalSite from "/src/images/personal-site-screenshot.jpg";
import notebook from "/src/images/notebook-homepage-screenshot.jpg";
import personalSiteHugo from "/src/images/personal-website-hugo-screenshot.jpg";
import firstWebsite from "/src/images/first-website-screenshot.jpg";
import danceophile from "/src/images/danceophile-screenshot.jpg";
---

<BaseLayout title="Websites">
  <h1>Websites</h1>
  <h2>Danceophile Studio (in progress)</h2>
  <p>A website for an independent dance studio. Built with Astro.</p>
  <a class="image" href="https://danceophile.netlify.app/danceophile/">
    <Picture
      src={danceophile}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the Danceophile Studio homepage."
    />
  </a>
  <h2>Notebook</h2>
  <p>My digital notebook. Built with Eleventy.</p>
  <a class="image" href="https://notebook.samfeldstein.xyz/">
    <Picture
      src={notebook}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of my digital notebook."
    />
  </a>
  <div class="notes source">
    <a
      href="https://notebook.samfeldstein.xyz/notes/digital-notebook-project-notes/"
      >Notes</a
    >
    <a href="https://github.com/seldstein/notebook">Source</a>
  </div>

  <h2>Pairings</h2>
  <p>
    An app that generates pairings from any two lists. My first
    JavaScript-driven project.
  </p>
  <a class="image" href="https://pairingapp.netlify.app">
    <Picture
      src={pairings}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the 'Pairings' homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/pairings-notes">Notes</a>
    <a href="https://github.com/seldstein/pairings">Source</a>
  </div>

  <h2>Prairie Rose Arena</h2>
  <p>A website for an equestrian event center. Built with Eleventy.</p>
  <a class="image" href="https://prairierosearena.com/">
    <Picture
      src={prairieRose}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the Prairie Rose Arena website homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/prairie-rose-arena-notes"
      >Notes</a
    >
  </div>

  <h2>Personal Site (current version)</h2>
  <p>The website you are currently on. Built with Astro.</p>
  <a class="image" href="/">
    <Picture
      src={personalSite}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of Sam Feldstein's personal website."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/personal-site-notes"
      >Notes</a
    >
    <a href="https://github.com/seldstein/personal-site-astro">Source</a>
  </div>

  <h2>Personal Site (Hugo, archived)</h2>
  <p>An archived version of my personal site. Built with Hugo.</p>
  <a class="image" href="https://seldstein.github.io/personal-site-hugo/">
    <Picture
      src={personalSiteHugo}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of an archived version of Sam Feldstein's personal website."
    />
  </a>
  <div class="notes source">
    <a href="https://github.com/seldstein/personal-site-hugo">Source</a>
  </div>

  <h2>My First Website</h2>
  <p>
    The first version of my personal site. Built by hand. No generators, no
    nothin.
  </p>
  <a class="image" href="https://seldstein.github.io/first-website/">
    <Picture
      src={firstWebsite}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of the first website I ever built."
    />
  </a>
  <div class="notes source">
    <a href="https://github.com/seldstein/first-website">Source</a>
  </div>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }
</style>
