---
import BaseLayout from "../layouts/Base.astro";
import Date from "../components/Date.astro";
import Tags from "../components/Tags.astro";

// Styles
import "../styles/_default-page.scss";
import "../styles/_words.scss";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";

const description = "My professional and personal writing.";

// Filter drafts when building for production
const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
// Sort posts by date
sortCollectionByDate(posts);

const writing = [
  {
    title: "Made of Memories",
    type: "Short Story",
    genre: "Horror",
    medium: "Podcast",
    date: "December 2023",
    outlet: "Tales to Terrify",
    url: "https://talestoterrify.com/episodes/619-z-j-garcia-samuel-feldstein/",
    blurb:
      "We are living until we are dying. We are dying until we are dead, and live again.",
  },
  {
    title:
      "Big Bend Reproductive Coalition launches community needs assessment",
    type: "Article",
    medium: "Print, Digital",
    date: "August 2023",
    outlet: "The Big Bend Sentinel",
    url: "https://bigbendsentinel.com/2023/08/09/big-bend-reproductive-coalition-launches-community-needs-assessment-with-inaugural-town-hal/?mc_cid=b24b0bb606",
  },
  {
    title: "Queen of the Thunderbeasts",
    type: "RPG",
    genre: "Fantasy",
    medium: "eBook (PDF)",
    date: "January 2023",
    outlet: "The Dungeon Masters Guild",
    url: "https://www.dmsguild.com/product/426630/Queen-of-the-Thunderbeasts?affiliate_id=1701028",
  },
  {
    title: "The First",
    type: "Short Story",
    genre: "Fantasy",
    medium: "Digital",
    date: "October 2022",
    outlet: "The Collidescope",
    url: "https://thecollidescope.com/2022/10/16/the-first/",
  },
  {
    title:
      "Trans-Pecos Festival of Music + Love doubles as platform for advocacy and outreach",
    type: "Article",
    medium: "Print, Digital",
    date: "October 2022",
    outlet: "The Big Bend Sentinel",
    url: "https://bigbendsentinel.com/2022/10/05/trans-pecos-festival-of-music-love-doubles-as-platform-for-advocacy-and-outreach/",
  },
  {
    title: "Absence of Meaning in 'The Lighthouse'",
    type: "Criticism",
    medium: "Digital",
    date: "April 2022",
    outlet: "The Frida Cinema Blog",
    url: "https://thefridacinema.org/film-criticism/absence-of-meaning-the-lighthouse/",
  },
];
---

<BaseLayout title="Writing" description={description}>
  <header>
    <h1>Words</h1>
  </header>

  <section class="published">
    <h2>Published Work</h2>
    <ul class="published">
      {
        writing.map((item) => (
          <li class="publication">
            <a
              class="title"
              href={item.url}
              set:html={item.title.replace(/'(.*?)'/, "<em>$1</em>")}
            />
            <div class="info">
              <span>{item.type}</span>
              <span>|</span>
              <span class="outlet">{item.outlet}</span>
              <span>|</span>
              <span>{item.date}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </section>

  <section>
    <h2>Blog</h2>
    <p>
      You can <a href="/blog/tags/">browse by category</a> and subscribe via <a
        href="https://samfeldstein.xyz/feed.xml">RSS</a
      >. If you prefer to subscribe by email, you can use <a
        href="https://blogtrottr.com">Blogtrottr</a
      > to route the feed to your inbox.
    </p>

    <ul class="blog">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/blog/${post.id}/`}
              class="title"
              set:html={post.data.title}
            />
            <div class="info">
              <Date date={post.data.pubDate} />
              <Tags tags={post.data.tags} path="blog" />
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 2rem;
  }

  .info {
    font-size: var(--font-small);
  }

  a {
    &.title {
      font-weight: 700;
      font-size: var(--font-medium);
      display: inline-block;
      text-wrap: balance;
    }
  }

  span.outlet {
    font-style: italic;
  }
</style>

<style is:global>
  ul.tags {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    font-size: var(--font-smallest);

    a {
      display: inline-block;
      padding: 0.15rem 0.25rem 0.15rem 0;
    }
  }
</style>
