---
import Tags from "./Tags.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils";

const { collectionName, sort, count } = Astro.props;

const collection = await getCollection(collectionName);
---

{sort === "date" && sortCollectionByDate(collection)}

<ul class="collection-list unstyled-list">
  {
    // If no count, renders whole collection
    collection.slice(0, count).map((item) => (
      <li>
        <a class="collection-item-title" href={`/${collectionName}/${item.slug}/`}>
          {item.data.title}
        </a>
        <Tags tags={item.data.tags} path={collectionName} />
      </li>
    ))
  }
</ul>
<slot />

<style>
  ul {
    text-align: center;
  }

  li {
    border: 1px solid;
    margin: 1rem 0;
    padding: 1rem;
  }

  a {
    font-size: 2rem;
  }
</style>

<style is:global>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
    margin-top: 1rem;
  }
</style>
