---
import Tags from "./Tags.astro";
import Date from "./Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils";

const { collectionName, sort, count } = Astro.props;

const collection = await getCollection(collectionName);
---

{sort === "date" && sortCollectionByDate(collection)}

<ul class="collection-list unstyled-list">
  {
    // If no count, renders whole collection
    collection.slice(0, count).map((item) => (
      <li>
        <a
          class="collection-item-title"
          href={`/${collectionName}/${item.slug}/`}
        >
          {item.data.title}
        </a>
        <Tags tags={item.data.tags} path={collectionName} />
        <Date date={item.data.pubDate} />
      </li>
    ))
  }
</ul>
<slot />

<style>
  ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
  }

  li {
    border: 1px solid;
    padding: 1rem;
    align-content: center;
  }

  a {
    font-size: 1.5em;
  }
</style>

<style is:global>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
    margin-top: 1rem;
  }
</style>
