---
import Tags from "./Tags.astro";
import Date from "./Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils.ts";

const { collectionName, sort, count } = Astro.props;

const collection = await getCollection(collectionName);
---

{sort === "date" && sortCollectionByDate(collection)}

<ul class="collection-list unstyled-list">
  {
    // If no count, renders whole collection
    collection.slice(0, count).map((item) => (
      <li class="flex-column">
        <Date date={item.data.pubDate} />
        <a
          href={`/${collectionName}/${item.slug}/`}
          class="title collection-item-title no-decor"
        >
          {item.data.title}
        </a>
        <Tags tags={item.data.tags} path={collectionName} />
      </li>
    ))
  }
</ul>
<slot />

<style>
  ul {
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  a {
    font-size: 2rem;
    text-wrap: balance;
    margin: 0.5em 0;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
  }

  li {
    border: 1px solid;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
  }
</style>

<style is:global>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    justify-content: center;
  }
</style>
