---
import Icons from "./Icons.astro";

import { site } from "../../config.mjs";

// Variables and properties
const {
  title,
  description = title,
  ogType = "website",
  ogImage = "https://samfeldstein.xyz/static/images/sam-feldstein-open-graph-default.webp",
  preloadFonts = [],
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <Icons />

  <!-- Preload Fonts -->
  {
    preloadFonts &&
      preloadFonts.map((font) => (
        <link
          rel="preload"
          href={`/static/fonts/${font}.woff2`}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
  }

  <!-- Metadata -->
  <meta name="generator" content={Astro.generator} />
  <title>{`${title} | ${site.title}`}</title>
  <meta name="author" content="Sam Feldstein" />
  <meta name="description" content={description} />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content={ogType} />
  <meta property="og:url" content={Astro.url.href} />
  <meta property="og:image" content={ogImage} />

  <!-- Twitter, etc -->
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={ogImage} />

  <!-- Other links -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="Sam Feldstein's Notebook"
    href="https://notebook.samfeldstein.xyz/feed.xml"
  />
  <slot />
</head>
