---
import Tags from "./Tags.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils";

const { collectionName } = Astro.props;
const collection = await getCollection(collectionName);
sortCollectionByDate(collection)
---

<a href={`/${collectionName}/${collection[0].slug}`}>{collection[0].data.title}</a>
<Tags tags={collection[0].data.tags} path={collectionName}/>
