---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../../../scripts/utils.ts";

// Functions
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// Variables
const { tag } = Astro.params;
const { posts } = Astro.props;

// Calls
sortCollectionByDate(posts);

// Data
const schema = {
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  name: `Posts About ${tag.charAt(0).toUpperCase() + tag.slice(1)} | Sam Feldstein's Blog`,
  url: `https://samfeldstein.xyz/blog/tags/${tag}`,
  description: `Posts about ${tag}`,
};
---

<BaseLayout
  title=`Posts About ${tag.charAt(0).toUpperCase() + tag.slice(1)}`
  description=`Posts about ${tag}.`
  schema={schema}
>
  <h1>Posts About {tag}</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>

  <p>See <a href="/blog/tags/">all tags</a>.</p>
</BaseLayout>

<style>
  h1 {
    text-transform: capitalize;
  }

  ul {
    display: grid;
    gap: 1rem;
  }
</style>
