---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Components
import Date from "../../../components/Date.astro";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../../../scripts/utils.ts";

// Functions
export async function getStaticPaths() {
// Filter drafts. Won't see the tag page in prod. Tried filtering them same way as posts so you can see them in prod, but doesn't work here.
  const posts = await getCollection("blog", ({ data }) => data.draft !== true);
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

import { formatTag } from "../../../scripts/utils.ts";

// Variables
const { tag } = Astro.params;
const { posts } = Astro.props;

const formattedTag = formatTag(tag);

// Calls
sortCollectionByDate(posts);
---

<BaseLayout
  title=`Posts about ${formattedTag}`
  description=`Posts tagged "${formattedTag}".`
>
  <h1>Posts about {formattedTag}</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a
            class="title"
            href={`/blog/${post.id}/`}
            set:html={post.data.title}
          />
          <div class="info">
            <Date date={post.data.pubDate} />
          </div>
        </li>
      ))
    }
  </ul>

  <p>See <a href="/blog/tags/">all tags</a>.</p>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    margin: 6rem 0;
    padding: 0;
  }

  .info {
    font-size: var(--font-small);
  }

  a {
    &.title {
      font-weight: 700;
      font-size: var(--font-medium);
      display: inline-block;
      text-wrap: balance;
    }
  }
</style>
