---
// Layout
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import Tags from "@components/Tags.astro";

// Components
import Date from "@components/Date.astro";

import "@styles/_tag.scss";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "@scripts/utils";

// Functions
export async function getStaticPaths() {
  // Filter drafts. Won't see the tag page in prod. Tried filtering them same way as posts so you can see them in prod, but doesn't work here.
  const posts = await getCollection("blog", ({ data }) => data.draft !== true);
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

import { formatTag } from "@scripts/utils.ts";

// Props
const { tag } = Astro.params;
const { posts } = Astro.props;

const formattedTag = formatTag(tag);
const preloadFonts = ["cormorant", "noto-sans"];

// Calls
sortCollectionByDate(posts);
---

<Base>
  <Head
    slot="head"
    title=`Filed Under: “${formattedTag}”`
    description=`Posts filed under “${formattedTag}”.`
    preloadFonts={preloadFonts}
  />
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">All Posts</a>
      <a href="/blog/tags/">All Tags</a>
    </nav>
    <h1>Filed Under: {formattedTag}</h1>
  </header>
  <main id="main-content">
    <ul class="posts">
      {
        posts.map((post) => (
          <li class="post">
            <div class="info">
              <Date date={post.data.pubDate} />
              <Tags tags={post.data.tags} path="blog" />
            </div>
            <div class="title" set:html={post.data.title} />
            <a class="read" href={`/blog/${post.id}/`}>
              Read the thing
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
