---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import SiteFooter from "../components/SiteFooter.astro";

// Variables
const { title, description, ogTitle, ogType, schema } = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og:https://ogp.me/ns#">
  <Head
    title={title}
    description={description}
    ogTitle={ogTitle}
    ogType={ogType}
    schema={schema}
  />
  <body>
    <Skiplink />
    <nav>
      <a class="home" href="/">Home</a>
    </nav>
    <main id="main-content">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>

<style>
  a.home {
    font-size: var(--font-small);
  }
</style>
