---
// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import Sidebar from "../components/Sidebar.astro";
import MobileMenu from "../components/MobileMenu.astro";
import SiteFooter from "../components/SiteFooter.astro";

// Variables
const { title, description, ogTitle, ogType, schema } = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <BaseHead
    title={title}
    description={description}
    ogTitle={ogTitle}
    ogType={ogType}
    schema={schema}
  />
  <body>
    <Skiplink />
    <Sidebar />
    <div class="content-container flex-column">
      <MobileMenu />
      <main id="main-content">
        <slot />
      </main>
      <SiteFooter />
    </div>
  </body>
</html>
