---
// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import ConstructionBanner from "../components/ConstructionBanner.astro";
import MainHeader from "../components/MainHeader.astro";
import PageHeader from "../components/PageHeader.astro";
import MainFooter from "../components/MainFooter.astro";

// Variables
const { title, description, updated, toc, headings, underConstruction } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    {underConstruction && <ConstructionBanner />}
    <MainHeader />
    <main>
      <PageHeader title={title} updated={updated} toc={toc} headings={headings}/>
      <slot />
    </main>
    <MainFooter />
  </body>
</html>
