---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Components
import MenuMain from "../components/MenuMain.astro";
import MainContent from "../components/MainContent.astro";
import Date from "../components/Date.astro";

// Styles
import "/src/styles/blog.scss";

// Utils
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils";
import { getEntry } from "astro:content";

// Data
import { siteConfig } from "../../siteConfig.mjs";

// Frontmatter
const { frontmatter } = Astro.props;

// Blog Collection
const posts = await getCollection("blog");
sortCollectionByDate(posts);

// Render lastest post
const entry = await getEntry("blog", posts[0].slug);
const { Content } = await entry.render();
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  underConstruction
>
  <header class="page-header">
    <div class="container-menu-main">
      <hr class="first" />
      <MenuMain />
      <hr class="second" />
    </div>
    <div class="name">Est. 2022</div>
    <h1>{frontmatter.title}</h1>
    <div class="date location">
      <Date date={posts[0].data.pubDate} /> || {siteConfig.location.city}, {
        siteConfig.location.state
      }
    </div>
    <div class="tagline">
      This is my blog. There are many like it, but this one is mine.
    </div>
  </header>
  <MainContent>
    <div class="latest-entry">
      <h2>Latest Entry</h2>
      <h3>{posts[0].data.title}</h3>
      <Content />
    </div>
    <section>
      <h2>Archive</h2>
    <ul class="list-posts">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
  </MainContent>
</BaseLayout>
