---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Components
import MenuMain from "../components/MenuMain.astro";
import MainContent from "../components/MainContent.astro";
import Date from "../components/Date.astro";
import Tags from "../components/Tags.astro";

// Styles
import "/src/styles/blog.scss";

// Utils
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../scripts/utils";
import { getEntry } from "astro:content";

// Data
import { site } from "../../config.mjs";

// Frontmatter
const { frontmatter } = Astro.props;

// Blog Collection
const posts = await getCollection("blog");
sortCollectionByDate(posts);

// Render lastest post
const entry = await getEntry("blog", posts[0].slug);
const { Content } = await entry.render();
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  underConstruction
>
  <header class="page-header">
    <div class="container-date-loc-est">
      <Date date={posts[0].data.pubDate} />
      <span class="est">Est. 2022</span>
      <span class="location">{site.location.city}, {site.location.state}</span>
    </div>
    <h1>{frontmatter.title}</h1>
    <div class="tagline">
      This is my blog. There are many like it, but this one is mine.
    </div>
    <div class="container-menu-main">
      <hr class="first" />
      <MenuMain />
      <hr class="second" />
    </div>
  </header>
  <MainContent>
    <section id="latest">
      <h2>Latest</h2>
      <a href={`/blog/${posts[0].slug}`}>{posts[0].data.title}</a>
      <Tags tags={posts[0].data.tags.sort()} />
      <Content />
    </section>
    <section id="popular">
      <h2>Popular</h2>
      <ul>
        <li><a href="/blog/mining-and-refining/">Mining and Refining: The Two Modes of Writing</a></li>
        <li><a href="/blog/cinderella-in-reverse">Cinderella in Reverse</a></li>
        <li><a href="/blog/care-dammit">And God said, "Care, dammit"</a></li>
      </ul>
    </section>
    <!-- Add categories section -->
    <section>
      <h2>Archive</h2>
      <ul class="postlist">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </MainContent>
</BaseLayout>
