---
// Styles
import "/src/styles/styles.css";

// Components
import BaseLayout from "./BaseLayout.astro";
import Post from "../components/Post.astro";

// Collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../scripts/utils";

// Variables
const { frontmatter } = Astro.props;
const posts = await getCollection("blog");

// Calls
sortCollectionByDate(posts);
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} navClass="nav-blog">
    
    <header aria-label="Page Header">
      <h1>{frontmatter.title}</h1>
    </header>
    <hr />
    <slot />
    <ul>
      {
        posts.map((post) => (
          <li>
            <Post url={`/blog/${post.slug}/`} title={post.data.title} />
          </li>
        ))
      }
    </ul>
</BaseLayout>

<style>
  h1 {
    font-family: "Fenwick Woodtype";
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
