---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Components
import MenuMain from "../components/MenuMain.astro";
import MainContent from "../components/MainContent.astro";
import Date from "../components/Date.astro";

// Styles
import "/src/styles/blog.scss";

// Collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";

// Data
import { siteConfig } from "../../siteConfig.mjs";

// Utils
import { sortCollectionByDate } from "../scripts/utils";

// Variables
const { frontmatter } = Astro.props;
const posts = await getCollection("blog");

// Calls
sortCollectionByDate(posts);
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  underConstruction
>
    <header>
      <div class="container-menu-main">
        <hr class="first" />
        <MenuMain />
        <hr class="second" />
      </div>
      <div class="name">Est. 2022</div>
      <h1>{frontmatter.title}</h1>
      <div class="location">{siteConfig.location.city}, {siteConfig.location.state}</div>
      <!-- Ideally, this would dynamically grab the date of the latest post -->
      <Date date={posts[0].data.pubDate}/>
      <div class="tagline">
        This is my blog. There are many like it, but this one is mine.
      </div>
      
    </header>
    <MainContent>
      <ul class="list-posts">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </MainContent>
</BaseLayout>
