---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../scripts/utils";

// Variables
const { frontmatter } = Astro.props;
const posts = await getCollection("blog");

// Calls
sortCollectionByDate(posts);
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
>
  <header class="header-page" aria-label="Page Header">
    <h1>{frontmatter.title}</h1>
  </header>
  <slot />
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
