---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Components
import MenuMain from "../components/MenuMain.astro";
import MainContent from "../components/MainContent.astro";

// Collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../scripts/utils";

// Variables
const { frontmatter } = Astro.props;
const posts = await getCollection("blog");

// Calls
sortCollectionByDate(posts);
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} underConstruction>
  <header>
    <div class="name">Sam Feldstein's</div>
    <h1>{frontmatter.title}</h1>
    <div class="tagline">
      This is my blog. There are many like it, but this one is mine.
    </div>
    <div class="container-menu-main">
      <hr class="first" />
      <MenuMain />
      <hr class="second" />
    </div>
  </header>
  <MainContent>
    <ul class="list-posts">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </MainContent>
</BaseLayout>

<style type="scss">
  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-family: "Fenwick Woodtype";
    font-size: calc(1rem + 10vw);
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  .container-menu-main {
    hr {
      border-left: none;
      border-right: none;
    }

    hr.first {
      border-top: 2px solid;
      border-bottom: 1px solid;
      padding: 0.03rem;
    }

    hr.second {
      height: 0.15em;
      background-color: black;
    }
  }

  .list-posts {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .name {
    font-family: Copperplate;
    font-size: calc(1rem + 2vw);
    font-weight: 100;
  }
</style>

<style type="scss" is:global>
  .menu-main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
</style>
