---
import Base from "./Base.astro";
import Tags from "../components/Tags.astro";
import Date from "../components/Date.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <article>
    <header aria-label="Post Header">
      <h1>{frontmatter.title}</h1>
      {
        frontmatter.description && (
          <p class="description">{frontmatter.description}</p>
        )
      }
      <div class="tags" aria-label="Tags">
        <Tags tags={frontmatter.tags} />
      </div>
    </header>
    <hr />
    <slot />
    <div class="date-location">
      <Date date={frontmatter.pubDate} />
      <div class="location">{frontmatter.location}</div>
    </div>
  </article>
</Base>

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  h1,
  .description {
    margin: 0;
  }

  .description {
    font-style: italic;
  }

  .tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 0.8rem;
  }

  .location {
    font-size: 0.7rem;
  }

  .date-location {
    text-align: right;
  }
</style>
