---
import Base from "./Base.astro";
import Tags from "../components/Tags.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <p>{frontmatter.description}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <slot />
  <Tags tags={frontmatter.tags} />
</Base>
