---
import BaseLayout from "./BaseLayout.astro";

// Components
import PageHeader from "../components/PageHeader.astro";
import Date from "../components/Date.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <PageHeader
      title={frontmatter.title}
      tags={frontmatter.tags}
      description={frontmatter.description}
    />
    <slot />
    <div class="dateline">
      <Date date={frontmatter.pubDate} />
      <div class="location">{frontmatter.location}</div>
    </div>
  </article>
</BaseLayout>
