---
import Base from "./Base.astro";
import Tags from "../components/Tags.astro";
import Date from "../components/Date.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title} description={frontmatter.description}>
  <header aria-label="Post Header">
    <div class="time"><Date date={frontmatter.pubDate} /></div>
    <h1>{frontmatter.title}</h1>
    <p class="description">{frontmatter.description}</p>
    <Tags tags={frontmatter.tags} />
  </header>
  <slot />
</Base>

<style>
  h1, .description {
    margin: 0;
  }

  .time {
    font-size: 0.7rem;
  }
</style>