---
import BaseLayout from "./BaseLayout.astro";

// Components
import Date from "../components/Date.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
const { reading, watching, listening } = frontmatter;

// Structured
const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: frontmatter.title,
  description: frontmatter.description,
  author: {
    "@type": "Person",
    name: "Sam Feldstein",
  },
  datePublished: frontmatter.pubDate,
};
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  ogType="article"
  schema={schema}
>
  <header class="page-header" aria-label="Page Header">
    <h1 set:html={frontmatter.title}/>
    {
      frontmatter.description && (
        <p class="description" set:html={frontmatter.description.replace(/'(.*?)'/, "<span class='normal'>$1</span>")}/>
      )
    }
    {(<Tags tags={frontmatter.tags} path="blog" />)}
  </header>
  <article>
    <slot/>
    {
      reading && (
        <section>
          <h2>Read</h2>
            {reading.map((article) => (
                <p>
                  <a href={article.url}rel="noopener noreferrer">
                    <em>{article.title}</em></a>&nbsp;by&nbsp;{article.author}:</p>
                <blockquote>{article.quote}</blockquote>
            ))}
        </section>
      )
    }
    <!-- Render Watching Section -->
    {
      watching && (
        <section>
          <h2>Watched</h2>
            
            {watching.map((item) => (
                <p><strong><em>{item.title}</em></strong>. {item.notes}</p> 
                
            ))}
        </section>
      )
    }

    <!-- Render Listening Section -->
    {
      listening && (
        <section>
          <h2>Listened</h2>
            <ul>
              {listening.map((item) => (
                <li>
                  <strong>{item.artist}</strong> – {item.notes }
                </li>
            ))}
            </ul>
            
        </section>
      )
    }
    {frontmatter.digest && (
      <p>That's all, folks!</p>
    )}
    <div class="dateline text-right">
      <i>
        <Date date={frontmatter.pubDate} />
        <div class="location">{frontmatter.location}</div>
      </i>
    </div>
  </article>
</BaseLayout>

<style>
  .dateline {
    font-size: 0.75em;
    margin-top: 4rem;
  }

  .page-header {
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    
    padding-bottom: 1rem;
    display: grid;
    gap: 1rem;
  }

  .description {
    margin: 0;
    /* color: var(--accent); */
    font-style: italic;
    text-align: center;
    text-wrap: pretty;
  }
</style>

<style is:global>
  h1 {
    margin-bottom: 0;
  }
  
  ul.tags {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    font-variant: small-caps;
    font-size: var(--font-small);
  }

  div.photo {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2px;
  }

  div.photo-caption {
    color: #1a1a1a;
    text-align: center;
    font-family: "5th Grade Cursive", serif;
    font-size: 1rem;
    padding-top: 0.5em;
  }

  /* Handle titles in descriptions */
  span.normal {
    font-style: normal;
  }
</style>
