---
import BaseLayout from "./BaseLayout.astro";

// Components
import PageHeader from "../components/PageHeader.astro";
import Date from "../components/Date.astro";

const { frontmatter, collection } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <PageHeader
      title={frontmatter.title}
      description={frontmatter.description}
      collection={collection}
      tags={frontmatter.tags}
    />
    <slot />
    <div class="dateline text-right">
      <Date date={frontmatter.pubDate} />
      <div class="location">{frontmatter.location}</div>
    </div>
  </article>
</BaseLayout>

<style>
  .dateline {
    font-size: 0.75em;
    font-style: italic;
  }
</style>

<style is:global>
  .tags {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>
